@config "../../tailwind.config.js";
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}

.canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

canvas.lower-canvas,
canvas.upper-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
